.bet {
    width: 100px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #000;
    }

    .set_bet {
        margin-left: 5px;
        margin-right: 5px;
    }

    .current_bet {
        width: 80px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 1800px) {
    .bet {
        width: 80px;
        height: 30px;
        font-size: 1.2rem;
        padding-left: 5px;
        padding-right: 5px;
    
        .set_bet {
            margin-left: 3px;
            margin-right: 3px;
        }
    
        .current_bet {
            width: 60px;
        }
    }
}

@media(max-width: 1400px) {
    .bet {
        width: 80px;
        height: 25px;
        font-size: 1.1rem;
        padding-left: 5px;
        padding-right: 5px;
    
        .current_bet {
            width: 50px;
        }
    }
}

@media(max-width: 1200px) {
    .bet {
        width: 60px;
        height: 20px;
        font-size: 0.7em;
        padding-left: 3px;
        padding-right: 3px;

        .set_bet {
            margin-left: 4px;
            margin-right: 4px;
        }
    
        .current_bet {
            width: 40px;
        }
    }
}

@media(max-width: 992px) {
    .bet {
        width: 50px;
        height: 20px;
        font-size: 0.7em;
        padding-left:1px;
        padding-right: 1px;

    }
}

@media(max-width: 768px) {
    .bet {
        width: 60px;
        height: 30px;
        font-size: 0.9em;
        padding-left:1px;
        padding-right: 1px;

    }
}

@media(max-width: 600px) {
    .bet {
        width: 60px;
        height: 30px;
        font-size: 0.9em;
        padding-left:1px;
        padding-right: 1px;

    }
}
