.credit {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

@media(max-width: 1800px) {
    .credit {
        width: 140px;
        height: 30px;
        font-size: 1.2rem;
    
    }
}

@media(max-width: 1400px) {
    .credit {
        width: 120px;
        height: 25px;
        font-size: 1.1rem;
    
    }
}

@media(max-width: 1200px) {
    .credit {
        width: 100px;
        height: 20px;
        font-size: 0.9rem;
    
    }
}

@media(max-width: 768px) {
    .credit {
        width: 85px;
        height: 30px;
        font-size: 1.1rem;
    
    }
}