.credit {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    font-size: 1.5rem;
    color: #fff;
}