.doors {
    display: flex;
    flex-direction: column;
}
  
.door_one, .door_two, .door_three, .door_four {
    background: #fafafa;
    width: 160px;
    height: 170px;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px;

    .boxes {
        transition: transform 1s ease-in-out;

        .box {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover
        }
    }
}

  
