.title_container {
    display: flex;
    justify-content: center;
    align-items: center;

    .heading_container {
        margin-right: 20px;
        font-size: 3.5rem;
        line-height: 3.5rem;
        text-transform: uppercase;
        color: #fff;
    }
}