.spin_area_container {
    margin: auto;
    margin-top: 10px;
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 3px dashed #fff;
}