@font-face {
  font-family: "Urbanist, Sans-Serif" ;
  src: url("./assets/fonts/Urbanist-VariableFont_wght.ttf");
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Urbanist, Sans-Serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
