.credit_area {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 700px;
    display: flex;
    justify-content: space-around;
}

@media(max-width: 1800px) {
    .credit_area {
        width: 500px;
    }
}

@media(max-width: 1400px) {
    .credit_area {
        width: 450px;
    }
}

@media(max-width: 1200px) {
    .credit_area {
        width: 350px;
        margin-top: 10px;
    }
}

@media(max-width: 992px) {
    .credit_area {
        width: 400px;
        margin-top: 10px;
    }
}

@media(max-width: 600px) {
    .credit_area {
        transform: translateX(-1px);
        width: 330px;
        margin-top: 20px;
    }
}